<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CompanyDemo</title>
    <script src="js/axios-0.18.0.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vuex.js"></script>
</head>
<body>
    <div id="loginTable" style="display: inline">
        <form id="login" @submit.prevent="handleSubmit">
            帳號<input type="text" name="username" v-model="username"><br>
            密碼<input type="password" name="password" v-model="password"><br>
            <button>登入</button>
        </form>
    </div>
    <div id="showOption" style="display: none">
        <button id="dept" v-on:click="sDept()">部門</button>
        <button id="prod" v-on:click="sProd()">產品</button>
        <button id="staff" v-on:click="sStaff()">員工</button>
    </div>

    <br>
    <div id="deptOption" style="display: none">
        <button v-on:click="findDept()">查詢全部部門</button>
        <button v-on:click="showDeptStaff()">查詢部門員工</button>
        <button v-on:click="showDeptProd()">查詢部門產品</button>
        <button v-on:click="showDelteDept()">刪除部門</button>
        <button v-on:click="showInsertDept()">新增部門</button>
        <button v-on:click="showModifyDept()">修改部門</button>
        <br>
        <br>
        <table id="allDept" style="display: none" border="1"  cellspacing = 0 v-model="depts">
            <tr>
                <th>部門編號</th>
                <th>部門名稱</th>
            </tr>
            <tr v-for="dept in depts">
                <td>{{dept.id}}</td>
                <td>{{dept.name}}</td>
            </tr>
        </table>
        <div id="deptStaff"  style="display: none" >
            輸入要查詢的部門編號<input v-model="deptId">
            <button v-on:click="findDeptStaff()">送出</button>
            <table border="1"  cellspacing = 0 v-model="emps">
                <tr>
                    <th>姓名</th>
                    <th>性別</th>
                    <th>身分證</th>
                    <th>電子信箱</th>
                    <th>職位</th>
                    <th>入值日期</th>
                </tr>
                <tr v-for="emp in emps">
                    <td>{{emp.name}}</td>
                    <td>
                        <span v-if="emp.gender == 0">男</span>
                        <span v-else>女</span>
                    </td>
                    <td>{{emp.identity}}</td>
                    <td>{{emp.email}}</td>
                    <td>
                        <span v-if="emp.position == 1">主管</span>
                        <span v-else>員工</span>
                    </td>
                    <td>{{emp.entrydate}}</td>
                </tr>
            </table>
        </div>
        <div id="deptProd"  style="display: none" >
            輸入要查詢的部門編號<input v-model="deptId">
            <button v-on:click="findDeptProd()">送出</button>
            <table border="1"  cellspacing = 0 v-model="prods">
                <tr>
                    <th>產品編號</th>
                    <th>產品名稱</th>
                </tr>
                <tr v-for="prod in prods">
                    <td>{{prod.id}}</td>
                    <td>{{prod.name}}</td>
                </tr>
            </table>
        </div>
        <div id="deleteDept" style="display: none">
            輸入要刪除的部門ID:<input v-model="deptId">
            <button v-on:click="deleteDept()">送出</button>
        </div>
        <div id = insertDept style="display: none">
            <form @submit.prevent="deptInsert">
                部門名稱<input type="text" name="username" v-model="deptName"><br>
                <button>新增</button>
            </form>
        </div>
        <div id = modifyDept style="display: none">
            <form @submit.prevent="deptModify">
                修改部門ID:<input v-model="deptId">
                修改部門名稱:<input v-model="deptName">
                <button>修改</button>
            </form>
        </div>
    </div>

    <div id="prodOption" style="display: none">
        <button v-on:click="showFindProd()">查詢產品</button>
        <button v-on:click="showDeleteProd()">刪除產品</button>
        <button v-on:click="showInsertProd()">新增產品</button>
        <button v-on:click="showModifyProd()">修改產品</button>
        <br>
        <br>
        <div id="findProd" style="display: none">
            <form @submit.prevent="prodFind">
                產品名稱<input v-model="name"><br>
                負責部門<input v-model="deptId"><br>
                頁數<input v-model="page"><br>
                顯示數量<input v-model="pageSize"><br>
                <button>查詢</button>
            </form>
            <table border="1"  cellspacing = 0 v-model="prods">
                <tr>
                    <th>產品編號</th>
                    <th>產品名稱</th>
                </tr>
                <tr v-for="prod in prods">
                    <td>{{prod.id}}</td>
                    <td>{{prod.name}}</td>
                </tr>
            </table>
        </div>

        <div id="deleteProd" style="display: none">
            產品ID<input v-model="prodId">
            <button v-on:click="prodDelete">刪除</button>
        </div>

        <div id="insertProd" style="display: none">
            <form @submit.prevent="insertProd">
                產品名稱<input v-model="name">
                部門編號<input v-model="deptId">
                <button>新增</button>
            </form>
        </div>

        <div id="modifyProd" style="display: none">
            <form @submit.prevent="modifyProd">
                產品編號<input v-model="prodId">
                產品名稱<input v-model="name">
                部門編號<input v-model="deptId">
                <button>修改</button>
            </form>
        </div>

    </div>

    <div id="staffOption" style="display: none">
        <button v-on:click="showFindStaff()">查詢員工</button>
        <button v-on:click="showDeleteStaff()">刪除員工</button>
        <button v-on:click="showInsertStaff()">新增員工</button>
        <button v-on:click="showModifyStaff()">修改員工</button>
        <br>
        <br>
        <div id="findStaff" style="display: none">
            <form @submit.prevent="staffFind">
                姓名<input v-model="name"><br>
                性別<input v-model="gender"><br>
                部門ID<input v-model="deptId"><br>
                頁數<input v-model="page"><br>
                顯示數量<input v-model="pageSize"><br>
                <button>送出</button>
            </form>
            <table border="1"  cellspacing = 0 v-model="emps">
                <tr>
                    <th>姓名</th>
                    <th>性別</th>
                    <th>身分證</th>
                    <th>電子信箱</th>
                    <th>職位</th>
                    <th>入值日期</th>
                </tr>
                <tr v-for="emp in emps">
                    <td>{{emp.name}}</td>
                    <td>
                        <span v-if="emp.gender == 0">男</span>
                        <span v-else>女</span>
                    </td>
                    <td>{{emp.identity}}</td>
                    <td>{{emp.email}}</td>
                    <td>
                        <span v-if="emp.position == 1">主管</span>
                        <span v-else>員工</span>
                    </td>
                    <td>{{emp.entrydate}}</td>
                </tr>
            </table>
        </div>
        <div id="deleteStaff" style="display: none">
            輸入要刪除的員工編號<input value="deleteStaff" v-model="staffId">
            <button v-on:click="staffDelete">刪除</button>
        </div>
        <div id="insertStaff" style="display: none">
                <form @submit.prevent="staffInsert">
                    帳號<input type="text" v-model="username"><br>
                    密碼<input type="password" v-model="password"><br>
                    姓名<input type="text" v-model="name"><br>
                    身分證<input type="text" v-model="identity"><br>
                    電子信箱<input type="text" v-model="email"><br>
                    職位<select v-model="position">
                        <option value="">請選擇</option>
                        <option value="0">員工</option>
                        <option value="1">主管</option>
                       </select>{{position}}
                    <br>
                    性別<input type="text" v-model="gender"><br>
                    部門<input type="text" v-model="deptId"><br>
                    入職時間<input type="date" v-model="entrydate"><br>
                    <button>新增</button>
                </form>
        </div>
        <div id="modifyStaff" style="display: none">
            <form @submit.prevent="staffModify">
                員工編號<input type="text" v-model="staffId"><br>
                帳號<input type="text" v-model="username"><br>
                密碼<input type="password" v-model="password"><br>
                姓名<input type="text" v-model="name"><br>
                身分證<input type="text" v-model="identity"><br>
                電子信箱<input type="text" v-model="email"><br>
                職位<select v-model="position">
                <option value="">請選擇</option>
                <option value="0">員工</option>
                <option value="1">主管</option>
            </select>
                <br>
                性別<input type="text" v-model="gender"><br>
                部門<input type="text" v-model="deptId"><br>
                入職時間<input type="date" v-model="entrydate"><br>
                <button>修改</button>
            </form>
        </div>
    </div>
</body>

<script>
    Vue.config.silent = true
    const store = new Vuex.Store({
        state: {
            token: ""
        },
        mutations: {
            setToken(state, payload) {
                state.token = payload;
            }
        },
        getters: {
            getToken(state) {
                return state.token;
            }
        }
    })
    new Vue({
        el: "#loginTable",
        data: {
            username: "",
            password: "",
        },
        methods: {
            handleSubmit: function () {
                var obj = {username: this.username, password: this.password}
                var json = JSON.stringify(obj);
                var config = {
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }
                axios.post("http://localhost:8080/login", json, config).then(result => {
                    if (result.data.code == 1) {
                        store.commit("setToken",result.data.data)
                        document.getElementById("showOption").style.display = "inline";
                        document.getElementById("loginTable").style.display = "none";
                    }
                    else{
                        alert(result.data.msg)
                    }
                })
            }
        }
    })
    new Vue({
        el:"#showOption",
        data:{
        },
        methods: {
            sDept: () => {
                if(document.getElementById("deptOption").style.display === "none"){
                    document.getElementById("deptOption").style.display = "inline"
                    document.getElementById("staffOption").style.display = "none"
                    document.getElementById("prodOption").style.display = "none"
                }
            },
            sProd: () => {
                if(document.getElementById("prodOption").style.display === "none"){
                    document.getElementById("prodOption").style.display = "inline"
                    document.getElementById("staffOption").style.display = "none"
                    document.getElementById("deptOption").style.display = "none"
                }
            },
            sStaff: () => {
                if(document.getElementById("staffOption").style.display === "none"){
                    document.getElementById("staffOption").style.display = "inline";
                    document.getElementById("deptOption").style.display = "none";
                    document.getElementById("prodOption").style.display = "none";
                }
            }
        }
    })
    new Vue({
        el:"#deptOption",
        data:{
            depts:[],
            emps:[],
            prods:[],
            deptId:"",
            deptName:""
        },
        methods:{
            findDept:function(){
                document.getElementById("insertDept").style.display="none";
                document.getElementById("modifyDept").style.display="none";
                document.getElementById("allDept").style.display="inline";
                document.getElementById("deptStaff").style.display="none";
                document.getElementById("deptProd").style.display="none";
                document.getElementById("deleteDept").style.display="none";
                var config = {
                    headers: {
                        'token':store.getters.getToken
                    }
                }
                axios.get("http://localhost:8080/dept",config).then((result)=>{
                    if(result.data.code == 1){
                        this.depts = result.data.data;
                    }
                    else{
                        alert(result.data.msg)
                    }
                })
            },
            showDeptStaff:function(){
                document.getElementById("insertDept").style.display="none";
                document.getElementById("modifyDept").style.display="none";
                document.getElementById("allDept").style.display="none";
                document.getElementById("deptStaff").style.display="inline";
                document.getElementById("deptProd").style.display="none";
                document.getElementById("deleteDept").style.display="none";
            },
            findDeptStaff:function(){
                var config = {
                    headers: {
                        'token':store.getters.getToken
                    }
                }
                axios.get(`http://localhost:8080/dept/${this.deptId}/staff`,config).then((result)=>{
                    if(result.data.code == 1){
                        this.emps = result.data.data;
                        console.log(this.emps)
                    }
                    else{
                        alert(result.data.msg)
                    }
                })
            },
            showDeptProd:function(){
                document.getElementById("insertDept").style.display="none";
                document.getElementById("modifyDept").style.display="none";
                document.getElementById("allDept").style.display="none";
                document.getElementById("deptStaff").style.display="none";
                document.getElementById("deptProd").style.display="inline";
                document.getElementById("deleteDept").style.display="none";
            },
            findDeptProd:function(){
                var config = {
                    headers: {
                        'token':store.getters.getToken
                    }
                }
                axios.get(`http://localhost:8080/dept/${this.deptId}/prod`,config).then((result)=>{
                    if(result.data.code == 1){
                        this.prods = result.data.data;
                    }
                    else{
                        alert(result.data.msg)
                    }
                })
            },
            showDelteDept:function(){
                document.getElementById("insertDept").style.display="none";
                document.getElementById("modifyDept").style.display="none";
                document.getElementById("allDept").style.display="none";
                document.getElementById("deptStaff").style.display="none";
                document.getElementById("deptProd").style.display="none";
                document.getElementById("deleteDept").style.display="inline";
            },
            deleteDept:function (){
                var config = {
                    headers: {
                        'token':store.getters.getToken
                    }
                }
                axios.delete(`http://localhost:8080/dept/${this.deptId}`,config).then((result)=>{
                    if(result.data.code == 1){
                        alert("刪除成功")
                    }
                    else{
                        alert(result.data.msg)
                    }
                })
            },
            showInsertDept:function(){
                document.getElementById("insertDept").style.display="inline";
                document.getElementById("modifyDept").style.display="none";
                document.getElementById("allDept").style.display="none";
                document.getElementById("deptStaff").style.display="none";
                document.getElementById("deptProd").style.display="none";
                document.getElementById("deleteDept").style.display="none";
            },
            deptInsert:function (){
                var obj = {name: this.deptName}
                var json = JSON.stringify(obj);
                var config = {
                    headers: {
                        'token':store.getters.getToken,
                        'Content-Type': 'application/json',
                    }
                }
                axios.post(`http://localhost:8080/dept`,json,config).then((result)=>{
                    if(result.data.code == 1){
                        alert("新增成功")
                    }
                    else{
                        alert(result.data.msg)
                    }
                })
            },
            showModifyDept:function(){
                document.getElementById("insertDept").style.display="none";
                document.getElementById("modifyDept").style.display="inline";
                document.getElementById("allDept").style.display="none";
                document.getElementById("deptStaff").style.display="none";
                document.getElementById("deptProd").style.display="none";
                document.getElementById("deleteDept").style.display="none";
            },
            deptModify:function (){
                var obj = {id:this.deptId,name: this.deptName}
                var json = JSON.stringify(obj);
                var config = {
                    headers: {
                        'token':store.getters.getToken,
                        'Content-Type': 'application/json',
                    }
                }
                axios.put(`http://localhost:8080/dept`,json,config).then((result)=>{
                    if(result.data.code == 1){
                        alert("修改成功")
                    }
                    else{
                        alert(result.data.msg)
                    }
                })
            }
        }
    })
    new Vue({
        el:"#prodOption",
        data:{
            prodId:"",
            name:"",
            deptId:"",
            prods:[],
            page:"",
            pageSize:""
        },
        methods:{
            showFindProd:function(){
                document.getElementById("findProd").style.display="inline";
                document.getElementById("deleteProd").style.display="none";
                document.getElementById("insertProd").style.display="none";
                document.getElementById("modifyProd").style.display="none";
            },
            showDeleteProd:function(){
                document.getElementById("findProd").style.display="none";
                document.getElementById("deleteProd").style.display="inline";
                document.getElementById("insertProd").style.display="none";
                document.getElementById("modifyProd").style.display="none";
            },
            showInsertProd:function(){
                document.getElementById("findProd").style.display="none";
                document.getElementById("deleteProd").style.display="none";
                document.getElementById("insertProd").style.display="inline";
                document.getElementById("modifyProd").style.display="none";
            },
            showModifyProd:function(){
                document.getElementById("findProd").style.display="none";
                document.getElementById("deleteProd").style.display="none";
                document.getElementById("insertProd").style.display="none";
                document.getElementById("modifyProd").style.display="inline";
            },
            prodFind:function (){
                var config = {
                    headers: {
                        'token':store.getters.getToken
                    }
                }
                var url = "http://localhost:8080/prod/?"
                if(this.name !="")
                    url+=`&name=${this.name}`
                if(this.deptId !="")
                    url+=`&deptId=${this.deptId}`
                if(this.page !="")
                    url+=`&page=${this.page}`
                if(this.pageSize !="")
                    url+=`&pageSize=${this.pageSize}`
                axios.get(url,config).then((result)=>{
                    this.prods = result.data.data.data;
                })

            },
            prodDelete:function(){
                var config = {
                    headers: {
                        'token':store.getters.getToken
                    }
                }
                axios.delete(`http://localhost:8080/prod/${this.prodId}`,config).then(result=>{
                    if(result.data.code == 1){
                        alert("刪除成功")
                    }
                    else{
                        alert(result.data.msg)
                    }
                })
            },
            insertProd:function(){
                var config ={
                    headers: {
                        'token':store.getters.getToken,
                        'Content-Type': 'application/json',
                    }
                };
                var obj = {
                    name:this.name,
                    departmentId:this.deptId
                };
                var json = JSON.stringify(obj);
                axios.post(`http://localhost:8080/prod`,json,config).then(result=>{
                    if(result.data.code == 1){
                        alert("新增成功")
                    }
                    else{
                        alert(result.data.msg)
                    }
                })
            },
            modifyProd:function(){
                var config ={
                    headers: {
                        'token':store.getters.getToken,
                        'Content-Type': 'application/json',
                    }
                };
                var obj = {
                    id:this.prodId,
                    name:this.name,
                    departmentId:this.deptId
                };
                var json = JSON.stringify(obj);
                axios.put(`http://localhost:8080/prod`,json,config).then(result=>{
                    if(result.data.code == 1){
                        alert("修改成功")
                    }
                    else{
                        alert(result.data.msg)
                    }
                })
            }
        }
    })
    new Vue({
        el:"#staffOption",
        data:{
            entrydate:"",
            position:"",
            email:"",
            username:"",
            password:"",
            identity:"",
            emps:[],
            name:"",
            deptId:"",
            staffId:"",
            gender:"",
            page:"",
            pageSize:""
        },
        methods:{
            showFindStaff:function (){
                document.getElementById("findStaff").style.display="inline";
                document.getElementById("deleteStaff").style.display="none";
                document.getElementById("insertStaff").style.display="none";
                document.getElementById("modifyStaff").style.display="none";
            },
            staffFind:function (){
                var config = {
                    headers: {
                        'token':store.getters.getToken
                    }
                }
                url = "http://localhost:8080/staff/?"
                if(this.name !="")
                    url+=`&name=${this.name}`
                if(this.deptId !="")
                    url+=`&deptId=${this.deptId}`
                if(this.gender !=""){
                    url+=`&gender=${this.gender}`
                }
                if(this.page !="")
                    url+=`&page=${this.page}`
                if(this.pageSize !="")
                    url+=`&pageSize=${this.pageSize}`
                 axios.get(url,config).then((result)=>{
                     this.emps = result.data.data.data;
                 })
            },
            showDeleteStaff:function (){
                document.getElementById("insertStaff").style.display="none";
                document.getElementById("findStaff").style.display="none";
                document.getElementById("deleteStaff").style.display="inline";
                document.getElementById("modifyStaff").style.display="none";
            },
            staffDelete:function (){
                var config ={
                    headers: {
                        'token':store.getters.getToken
                    }
                }
                axios.delete(`http://localhost:8080/staff/${this.staffId}`,config).then(result=>{
                    if(result.data.code == 1){
                        alert("刪除成功")
                    }
                    else{
                        alert(result.data.msg)
                    }
                })
            },
            showInsertStaff:function(){
                document.getElementById("insertStaff").style.display="inline";
                document.getElementById("deleteStaff").style.display="none";
                document.getElementById("findStaff").style.display="none";
                document.getElementById("modifyStaff").style.display="none";
            },
            staffInsert:function(){
                var obj = {
                    username:this.username,
                    password:this.password,
                    name:this.name,
                    email:this.email,
                    identity:this.identity,
                    departmentId:this.deptId,
                    gender:this.gender,
                    entrydate:this.entrydate,
                    position:this.position
                }
                var json = JSON.stringify(obj)
                var config ={
                    headers: {
                        'token':store.getters.getToken,
                        'Content-Type': 'application/json',
                    }
                }
                axios.post(`http://localhost:8080/staff`,json,config).then(result=>{
                    if(result.data.code == 1){
                        alert("新增成功")
                    }
                    else{
                        alert(result.data.msg,config)
                    }
                })
            },
            showModifyStaff:function (){
                document.getElementById("modifyStaff").style.display="inline";
                document.getElementById("findStaff").style.display="none";
                document.getElementById("deleteStaff").style.display="none";
                document.getElementById("insertStaff").style.display="none";
            },
            staffModify:function (){
                var obj = {
                    id:this.staffId,
                }
                if(this.username != "")
                    obj.username = this.username
                if(this.password != "")
                    obj.password = this.password

                if(this.email != "")
                    obj.email = this.email

                if(this.name != "")
                    obj.name = this.name

                if(this.identity != "")
                    obj.identity = this.identity

                if(this.deptId != "")
                    obj.departmentId = this.deptId

                if(this.gender != "")
                    obj.gender = this.gender

                if(this.entrydate != "")
                    obj.entrydate = this.entrydate
                if(this.position != "")
                    obj.position = this.position


                var json = JSON.stringify(obj)
                var config ={
                    headers: {
                        'token':store.getters.getToken,
                        'Content-Type': 'application/json',
                    }
                }
                axios.put(`http://localhost:8080/staff`,json,config).then(result=>{
                    if(result.data.code == 1){
                        alert("修改成功")
                    }
                    else{
                        alert(result.data.msg,config)
                    }
                })
            }
        }
    })
</script>
</html>