<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CompanyDemo</title>
    <script src="js/axios-0.18.0.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vuex.js"></script>
</head>
<body>
<div id="d1">

    <div id="loginTable" style="display: inline">
        <form id="login" @submit.prevent="handleSubmit">
            帳號<input type="text" name="username" v-model="username"><br>
            密碼<input type="password" name="password" v-model="password"><br>
            <button>登入</button>
        </form>
    </div>
    <div id="showOptions" style="display: none">
      <button id="dept" v-on:click="sDept()">部門</button>
      <button id="prod" v-on:click="sProd()">產品</button>
      <button id="staff" v-on:click="sStaff()">員工</button>
      <br>
      <div id="showDept" style="display: none">
        <button>查詢部門</button>
        <button>查詢部門員工</button>
        <button>查詢部門產品</button>
        <button>刪除部門</button>
        <button>新增部門</button>
        <button>修改部門</button>
      </div>

      <div id="showStaff" style="display: none">
        <button>查詢員工</button>
        <button>刪除員工</button>
        <button>新增員工</button>
        <button>修改員工</button>
      </div>


      <div id="showProd" style="display: none">
        <button>查詢產品</button>
        <button>刪除產品</button>
        <button>新增產品</button>
        <button>修改產品</button>
      </div>
    </div>
</div>
</body>

<script>
  const store = new Vuex.Store({
    state: {
      token: ""
    },
    mutations: {
      setToken(state, payload) {
        state.token = payload;
      }
    },
    getters: {
      getToken(state) {
        return state.token;
      }
    }
  })
    new Vue({
        el: "#d1",
        data: {
            username: "",
            password: "",
        },
        methods: {
            handleSubmit: function () {
                var obj = {username: this.username, password: this.password}
                var json = JSON.stringify(obj);
                var config = {
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }
                axios.post("http://localhost:8080/login", json, config).then(result => {
                    if (result.data.code == 1) {
                      store.commit("setToken",result.data.data)
                      document.getElementById("showOptions").style.display = "inline";
                      document.getElementById("loginTable").style.display = "none";

                    }

                })
            },
            sDept: () => {
               if(document.getElementById("showDept").style.display === "none"){
                  document.getElementById("showDept").style.display = "inline";
                  document.getElementById("showStaff").style.display = "none";
                  document.getElementById("showProd").style.display = "none";
                  //console.log(store.getters.getToken)
               }
               else
                 document.getElementById("showDept").style.display = "none"

          },
            sStaff: () => {
             if(document.getElementById("showStaff").style.display === "none"){
                document.getElementById("showStaff").style.display = "inline"
                document.getElementById("showDept").style.display = "none"
                document.getElementById("showProd").style.display = "none"
             }
             else
               document.getElementById("showStaff").style.display = "none"
          },
            sProd: () => {
             if(document.getElementById("showProd").style.display === "none"){
                document.getElementById("showProd").style.display = "inline";
                document.getElementById("showStaff").style.display = "none";
                document.getElementById("showDept").style.display = "none";
             }
             else
               document.getElementById("showProd").style.display = "none"
          },
        }
    })

</script>
</html>